/*Адаптив для телефона*/

@media(max-width: 940px){
    #mainphoto {
        display: none;
    }

   #logo {
        width: 25px;
        height: 25px;
   }

   #title {
    font-size: 20px;
   }

   .main_content {
     margin-left: 70px;
   }

   .buttons i{
          display: block;
          color: #3A5AFF;
          margin-right: 15px;
    }

     .buttons a{
          display: none;
     }

     .buttons {
          display: flex;
          margin-left: 10px;
     }

     #menu {
          margin-left: 10px;
     }
}

@media(max-width: 450px){
     .main_content, .header {
          margin-left: 20px;
     }

     .main_content{
          width: 100%;
     }

     .download {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     #as_photo {
          margin-right: 0;
          margin-bottom: 10px;
     }

     #head, #text1 {
          text-align: center;
     }

     #sign_free_button_block {
          display: flex;
          justify-content: center;
     }

     .header {
          margin-right: 20px;
     }

     #title {
          font-size: 14px;
     }

     #logo {
          width: 20px;
          height: 20px;
     }

     .text1_block {
          margin-left: 10px;
          margin-right: 10px;
     }

}
